* {
    margin: 0;
    padding: 0;
}

:root {
    --grisoscuro: #5e5e5e;
    --blanco: #feffff;
    --gris: #707070;
    --negro: #000000;
    --amarillo: #ffe600;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(15, 15, 15, 0.589);
    border-radius: 5px;
}

.navbar img {
    width: 80px;
    height: 35px;
}

.carousel {
    margin-top: 3.9rem;
    width: 100%;
    height: 100%;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    background: var(--negro);
}

body {
    background-color: var(--negro);
}

.navbar ul li {
    list-style: none;
    flex-direction: row;
}

.slider {
    width: 100%;
    height: 72vh;
}

@media (max-width: 740px) {
    .slider {
        height: auto;
    }
}

.contador {
    height: auto;
    width: 100%;
    background-color: var(--negro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.counterbox {
    width: 30%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background: var(--negro);
    margin: 0.5rem;
}

.counterbox h3 {
    font-size: 25px;
    color: var(--gris);
}

.counterbox .numero {
    display: inline-flex;
    flex-direction: row;
}

.counterbox p {
    color: var(--amarillo);
    font-size: 30px;
}

.numerocont {
    font-size: 30px;
    color: var(--amarillo);
    font-weight: bold;
}

@media (max-width: 670px) {
    .counterbox .numero {
        font-size: 20px;
    }

    .counterbox h3 {
        font-size: 15px;
    }
}

.grid {
    height: 600px;
    width: 100%;
    background: var(--blanco);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gridbox {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--blanco);
    flex-wrap: wrap;
}

.cardis {
    width: 30%;
    height: 90%;
    background-color: var(--negro);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}

/*.card1{
    background-image: url(./img/grid/medicina.jpg);
    
}

.card2{
    background-image: url(../Target-Business/img/grid/mascotas.jpg);
    
}

.card3{
    background-image: url(../Target-Business/img/grid/vehiculos.jpg);
    
}

.card4{
    background-image: url(../Target-Business/img/grid/turismo.jpg);
    
}

.card5{
    background-image: url(../Target-Business/img/grid/compras.jpg);
    
}

.card6{
    background-image: url(../Target-Business/img/grid/supermercado.jpg);
    
}*/


.banner {
    width: 100%;
    height: 300px;
    background:var(--amarillo);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.footer {
    width: 100%;
    height: 300px;
    background-color: var(--negro);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.divisionfooter {
    height: 80%;
    width: 30%;

}

.footer ul {
    color: white;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    text-align: left;

}

.footer a {
    text-decoration: none;
    color: var(--amarillo);

}

.footer p {
    margin-left: 10px;
}

.divisionfooter {
    border-right: solid 1px var(--blanco);
}

.horarios {
    text-align: left;
    /*display: inline-flex;
    justify-content: center;
    align-items: center;*/
}

.logofooter {
    background-image: url(../Target-Business/img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}

.copy {
    width: 100%;
    background-color: var(--negro);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(155, 155, 155);
}

.copy p {
    margin: 1rem 2rem;
}