* {
    margin: 0;
    padding: 0;
}

:root {
    --grisoscuro: #5e5e5e;
    --blanco: #feffff;
    --gris: #f4f4f4;
    --negro: #000000;
    --amarillo: #fac31f;
    --blancoazul: #F1FAFF;
    --opacidad: rgb(0, 0, 0, .6);
    --opacidad2: rgb(26, 26, 26, .5);
    --opacidad3: rgba(231, 231, 231, 0.5);
}

.hr {
    display: flex;
    justify-content: center;
}

.hr hr {
    width: 75%;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(15, 15, 15, 0.589);
    border-radius: 5px;
}


/* ///////////////// Navbar ////////////*/

.navbar img {
    width: 80px;
    height: 36px;
}

.carousel {
    margin-top: 3.9rem;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    background: var(--negro);
}

body {
    background-color: var(--negro);
}

.navbar ul li {
    list-style: none;
    flex-direction: row;
}

/*////////////// Slider ////////////*/

.slider {
    width: 100%;
    height: 85vh;
    background-image: url(./img/bannerpruebatexto.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoslider {
    width: 40%;
    height: 100%;
    display:flex;
    
    align-items: flex-end;
    text-align: left;
    
}

.slidertext {
    padding: 20px 0;
    height: auto;
    width: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0;
    margin: 30px 10% 15px 10%;
    border:var(--blanco) solid 3px;
    opacity: 0.9;
    background:rgba(15, 15, 15, 0.689);
    
}

.slidertext p {
    font-size:3rem;
    color:var(--gris);
    margin: -10px 20px;
    font-weight: 500px;
}

.slidertext span {
    font-size: 15rem;
    font-weight: bold;
    color: var(--amarillo);
    margin: -50px 20px;
}

.slidermobil {
    display: none;
}

@media (max-width: 1000px) {
    .slidertext span {
        font-size: 6rem;
    font-weight: bold;
    color: var(--amarillo);
    margin:-5px 20px;
    }
    .slidertext p {
        font-size:2rem;
    color:var(--gris);
    margin:-5px 20px;
    font-weight: 400px;
    text-align: center;
    }
}

@media (max-width:750px) {
    .textoslider {
        width: 60%;
    }
}

@media (max-width:600px) {
    .slider {
        display: none;
        border:none;
    }

    .slidermobil {
        display: block;
        width: 100%;
        height: 84vh;
        background: url(./img/bannercomprasmobil.png);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        text-align: center;
        align-items: flex-end;
        border:none;
        
    }

    .textoslider {
        width: 100%;
        height: auto;
        background: var(--negro);
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 0;
        border:none;
    }

    .slidertext{
        padding: 0;
        margin: 0;
        border:none;
        background: none;
    }

    .slidertext h2 {
        font-size: 1rem;
        color: var(--gris);
        margin: 0;
        
    }
    .slidertext span {
        font-size: 2rem;
        color: var(--amarillo);
    }
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*///////////// Contador ///////////*/

.contador {
    height: auto;
    width: 100%;
    background-color: var(--negro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.counterbox {
    width: 30%;
    height: auto;
    flex-direction: column;
    text-align: center;
    background: var(--negro);
    margin: 0.5rem;
    opacity: 0.8;
}

.counterbox h3 {
    font-size: 25px;
    color: var(--gris);
}

.counterbox .numero {
    display: inline-flex;
    flex-direction: row;
}

.counterbox p {
    color: var(--amarillo);
    font-size: 30px;
}

.numerocont {
    font-size: 30px;
    color: var(--amarillo);
    font-weight: bold;
}

@media (max-width: 670px) {
    .counterbox .numero {
        font-size: 12px;
    }

    .counterbox h3 {
        font-size: 18px;
        text-align: center;
        margin: 0 5px 15px 0;

    }

    .numerocont {
        font-size: 25px;
        color: var(--amarillo);
        font-weight: bold;
    }

    .counterbox p {
        color: var(--amarillo);
        font-size: 25px;
    }

    .counterbox {
        width: 20%;
        height: 100%;
        flex-direction: column;
        text-align: center;
        background: var(--negro);
        opacity: 0.9;
    }
}


/*//////////  tarjetas ///////////////////*/
.tituloservicios {
    color: var(--negro);
    text-align: center;
    margin: 30px 0;
    padding: 0%;
    height: fit-content;
}

.parent {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;
    perspective: 3000px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.grid {
    background-color: var(--gris);
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: ease-in .5s;
}

.grid:hover {
    transform: rotateX(180deg);
}

.grid:hover .grinIn {
    backface-visibility: hidden;
}

.grid .gridIn {
    width: 100%;
    height: 100%;
    background: var(--opacidad);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.grid .gridIn .text {
    text-align: center;
    color: var(--blanco);
}

.grid .back {
    text-align: center;
    color: var(--negro);
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: rotateX(180deg);
    background: var(--blancoazul);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.gridIn .text h5 {
    font-size: 1.5rem;
}

.grid .back p {
    font-size: 1.5rem;
}

@media (max-width:600px) {
    .parent {
        height: 1200px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px 10px;   
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .div6 {
        grid-area: 6 / 1 / 7 / 2;
    }
}

.gridturismo {
    background: url(./img/grid/turismopc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridvehiculos {
    background: url(./img/grid/vehiculospc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridmascotas {
    background: url(./img/grid/mascotaspc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridcomercio {
    background: url(./img/grid/supermercadopc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gridsalud {
    background: url(./img/grid/saludpc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grideducacion {
    background: url(./img/grid/educacionpc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/*///////////////////  subsidio /////////////////////*/

.subsidio {
    height: 350px;
    width: 100%;
    background: url(./img/bannersubsidio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: left;
    align-items: center;
}



.subsidio .subsidioText h1 {
    color: var(--negro);
    margin:0 0 20px 50px;
}

.subsidio .subsidioText p {
    color: var(--negro);
    font-size: 1.5rem;
    margin: 0 0 0 50px;
    font-weight: 500;
}

.espacio {
    display: none;
}

.textosubsidiomobil{
    display: none;
}

@media (max-width: 1125px) {
    .subsidio {
        background: url(./img/banner1100.png);
        background-position: end;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 750px) {
    .subsidio {
        background: url(./img/banner750.png);
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .subsidio {
        height: 500px;
        display: flex;
        align-items: flex-end;
        background: url(./img/bannersubsidiomobil.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .subsidio .subsidioText {
        display: none;
        }

    .textosubsidiomobil h1 {
        color: var(--negro);
        font-size: 2rem;
        margin-left: 20px;
        font-weight: bold;
    }
    .textosubsidiomobil p {
        color: var(--negro);
        margin:0 0 0 20px;

    }
    .textosubsidiomobil{
        display: block;
        width: 100%;
        height: fit-content;
        background-color: var(--amarillo);
    }
}






/* //////////////////  formulario ////////////////////*/
.contact {
    display: flex;
    justify-content: center;
}

.textocontactobox {
    height: auto;
    background: var(--negro);
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.textocontacto {
    color: var(--amarillo);
    margin: 0;
}

.ContactUs {
    min-height: 350px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0 50px 0;
    background-color: var(--negro);
}

.formulario {
    height: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 0;
}

.map {
    height: 600px;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 0;
}

@media (max-width:800px) {
    .formulario {
        height: fit-content;
    }

    .map {
        height: 350px;
    }

}

.formulario #floatingTextarea2 {
    height: 100px;
}

.btn {
    margin-top: 15px;

}

.mapa {
    height: 80%;
    width: 100%;
    border: var(--morado) solid 2px;
}

@media (max-width: 800px) {

    .formulario,
    .map {
        width: 90%;
    }
}

.imagenes {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    flex-wrap: wrap;
}

.imagenes div {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 7px;
}

.imagenes img {
    width: 120px;
    height: 80px;
    margin-bottom: 2px;
}


/*////////////////  banner //////////////*/

.banner {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    background: var(--blanco);
    padding: 50px 0;

}

.textobanner {
    height: auto;
    width: 50%;
    text-align: left;
    color: var(--negro);
    padding-top: 10px;
    margin: 50px 0 50px 50px;
}

.textobanner h1 {
    margin-bottom: 15px;
}




/*/////////////// footer ////////////*/
.footer {
    width: 100%;
    height: 300px;
    background-color: var(--negro);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer ul {
    color: white;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    text-align: left;

}

.footer a {
    text-decoration: none;
    color: var(--amarillo);

}

.footer p {
    margin-left: 10px;
}

.footer i {
    margin-right: 5px;
}

.horarios {
    text-align: left;
}

.divisionfooter,
.divisionfooter1 {
    height: 80%;
    width: 30%;
    border-right: solid 1px var(--blanco);
    min-width: 288px;
}

.divisionfooter1 {
    display: flex;
    justify-content: center;
}

.divisionfooter1 ul {
    margin: 0;
    padding: 0;
}

.divisionfooter1 ul p {
    margin-left: 0;
}

.divisionfooter2 {
    height: 80%;
    width: 30%;
    min-width: 288px;
}

.logofooter {
    background-image: url(./img/logo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}

@media (max-width: 1150px) {

    .divisionfooter,
    .divisionfooter1,
    .divisionfooter2 {
        border: none;
    }
}

@media (max-width: 900px) {
    .footer p {
        font-size: 15px;
    }
}

@media (max-width: 865px) {
    .footer {
        height: auto;
        justify-content: space-evenly;
    }

    .footer p {
        text-align: center;
    }

    .footer ul {
        padding: 0;
    }

    .footer .logofooter {
        display: none;
    }
}

@media (max-width: 600px) {

    .footer {
        text-align: center;
    }

    .divisionfooter {
        padding-top: 1.5rem;
    }

    .footer .divisionfooter1 {
        border-top: 1px solid var(--blanco);
        padding-top: 1.5rem;

    }

    .footer ul {
        padding: 0;
    }

    .footer p {
        font-size: 0.8rem;
        margin: 0 0 5px 0;
    }

    .copy {
        font-size: 0.7rem;
    }

    .banner {
        height: fit-content;
    }
}



.copy {
    width: 100%;
    background-color: var(--negro);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(155, 155, 155);
}

.copy p {
    margin: 1rem 2rem;
}


/*////////////////// formulario activacion ////////////*/


.formularioactivacion{
    height: 95vh;
    width: 90%;
    background:var(--gris);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.textocontactoboxact {
    width: 100%;
    height: 200px;
    height: fit-content;
    background: var(--gris);
    text-align: center;
    margin: 0;
    margin-bottom: -80px;
    color: var(--negro);
}
.activacion {
    min-width: 420px;
    width: 50%;
    height: 700px;
    display: flex;
    background-color: var(--gris);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.imagenactivacion{
    min-width: 400px;
    width: 40%;
    height: 500px;
    border-radius: 5px;
    background-image: url(./img/activacion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
}

.textocontactoact {
    color: var(--negro);
    margin: 0;
}

.textoactivacion{
    height: 5vh;
    width: 100%;
    margin: 0 0 20px 0;
    background: var(--gris);
    text-align: center;
    font-size: 0.9rem;
    color: var(--grisoscuro);
    
}

.activacionbody{
    background: var(--gris);
}

@media (max-width:911px) {
    .formularioactivacion {
        height: fit-content;
        width: 100%;
    }
}

@media (max-width:819px) {
    .imagenactivacion {
        margin: 0 0 50px 0;
    }
}